*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 25vw;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #191D24;
    color: white;
}

.calificacion {
    width: 100%;
}